*{
    margin: 0;
}

html, body{
    height: 100%;
}

div{
    font-size: 35px;
    font-weight: bold;
}

.topblock, .bottomblock{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: gold;
    height: 15%;
    border:1px solid black; 
}

.insidetopblock{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width: 40%;
    height: 50%;
    margin-left: 3%;
}

.bottomblock p{
    margin-left: 80px;
}

.toptext{
    margin-left: 45%;
}

.centralblock{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 70%;
    justify-content: space-between;
}

.centralblock div {
    display: inline-block;
    height: 100%;
    width: 22.5%;
    border:1px solid black;
}

.centralblock div p{
    text-align: center;
    margin-top: 200px;
}

.redblock{
    background-color: #f6523d;
}

.blueblock{
    background-color: #0066ff;
}