*{
    margin: 0;
  }
  
  html, body{
    height: 100%;
  }
  
  div{
    font-size: 35px;
    font-weight: bold;
  }
  
  .topblock, .bottomblock{
    background-color: gold;
    height: 15%;
    border: 1px solid black;
  }
  
  .topblock p{
    margin: 90px 150px 0 0;
    text-align: end;
  }
  
  .bottomblock p{
    margin: 90px 0 0 150px;
    text-align: start;
  }
  
  .centralblock{
    background-color: white;
    height: 70%;
    display: flex;
  }
  
  .centralblock div{
    background-color: white;
    float: left;
    height: 100%;
    width: 22.5%;
    border:1px solid black;
  }

  .centralblock p{
    text-align: center;
    margin-top: 300px;
  }
  
  .centralblock div:not(:first-child){
    margin-left: 3.05%;
  }
  
  .insidetopblock{
    float: left;
    background-color: white;
    border: 1px solid black;
    width: 35%;
    height: 55%;
    margin: 45px 0 0 45px;
  }