* {
    margin: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  table {
    height: 100%;
    width: 100%;
    empty-cells: hide;
    border-collapse: collapse;
    font-size: 35px;
    font-weight: bold;
  }
  
  td {
    border: 1px solid black;
  }
  
  .centralblock {
    height: 80%;
    text-align: center;
  }
  
  .centralblock p {
    margin-bottom: 35vh;
  }
  
  .topblock, .bottomblock {
    background-color: gold;
  }

  .topblock p{
    text-align: right;
    margin-right: 22%;
  }
  
  .bottomblock p{
    margin-left: 10%;
  }
  
  .insideblock {
    background-color: gold;
    border-right-color: gold;
  }

  .insideblock table {
    width: 85%;
    height: 65%;
    background-color: white;
    margin-left: 4%;
  }

  .redblock{
    background-color: #f6523d;
  }

  .blueblock{
    background-color: #0066ff;
  }